Package: com.ichitaso.sshflipswitch
Depends: firmware (>= 7.0), mobilesubstrate, com.a3tweaks.flipswitch, openssh, preferenceloader
Conflicts: com.jamied360.switch.ssh
Replaces: com.ichitaso.sshflipswitch
Name: SSH Toggle (Flipswitch)
Version: 1.1
Architecture: iphoneos-arm
Description: SSH toggle for Flipswitch.
Homepage: http://moreinfo.thebigboss.org/moreinfo/depiction.php?file=flipswitchsshDp
Depiction: http://moreinfo.thebigboss.org/moreinfo/depiction.php?file=flipswitchsshDp
Maintainer: BigBoss <bigboss@thebigboss.org>
Author: ichitaso
Sponsor: thebigboss.org <http://thebigboss.org>
Section: Addons (Flipswitch)
dev: ichitaso
Tag: purpose::extension